NODE_ENV=
PORT=3000
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=54320
DB_PROTOCOL=postgres
DB_NAME=facebook-posts
JWTKEY=
API_URL=http://localhost:3000/
MAIL_SENDER=<aws-verified-email
REGION=<aws region>
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=