<html>
    <head>
        <title>Welcome On board</title>
    </head>

    <body>
        <div class="inbox-data-content-intro">
  <div style="background-color: rgb(245, 245, 245); padding-top: 80px;">
    
    <div style="margin: 0px auto; max-width: 600px; background: rgb(255, 255, 255);">
      <table role="presentation" cellpadding="0" cellspacing="0" style="font-size: 0px; width: 100%; background: rgb(255, 255, 255); border-top: 3px solid rgb(254, 173, 13); border-collapse: collapse;" align="center" border="0">
        <tbody>
          <tr>
            <td style="text-align: center; vertical-align: top; font-size: 0px; padding: 40px 30px 30px; border-collapse: collapse;">
              
              <div aria-labelledby="mj-column-per-100" style="vertical-align: top; display: inline-block; font-size: 13px; text-align: left; width: 100%;">
                <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0" style="border-collapse: collapse;">
                  <tbody>
                    <tr>
                      <td style="word-break: break-word; font-size: 0px; padding: 0px 0px 30px; border-collapse: collapse;" align="center">
                        <div style="cursor: auto; color: rgb(85, 87, 93); font-family: &quot;Open Sans&quot;, Helvetica, Arial, sans-serif; font-size: 22px; font-weight: 700; line-height: 22px;">
                          Welcome to the best community yet
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td style="word-break: break-word; font-size: 0px; padding: 0px 0px 35px; border-collapse: collapse;" align="center">
                        <div style="cursor: auto; color: rgb(140, 140, 140); font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px;">
                          Hi <%=fullname%>,
                          <br>
                          In this community you can share contents and interact with other members of the community. Happy Sharing.
                        </div>
                      </td>
                    </tr>
            </tbody>
          </table>
        </div>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    
    
  </div>

</div>
    </body>

</html>